* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    overflow: hidden;

}

#main {
    background-color: bisque;
    flex: 1;
    width: 100vw;
    height: 100vh;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 360px;
    height: 100vh;
    position: absolute;
    transform: translateX(-260px);
    transition: transform 0.25s ease;
    height: 100vh;
}

#sidebar.open {
    transform: translateX(0);
}

#editor.open {
    transform: translateX(260px);
}

#toggle-sidebar {
    background-color: rgb(38, 70, 78);
    color: white;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    position: absolute;
    top: 1.2rem;
    left: 0.75rem;
    transition: transform 0.25s ease;
}

#toggle-sidebar.on {
    transform: translateX(16.5rem);
}

.sidebar-header {
    background-color: red;
    padding: 0.5rem;
    margin:0 .5rem;
    border-bottom: solid black 2px;
}

#notes-list {
    flex: 1;
    background-color: blueviolet;
    overflow-y: auto;
}

.sidebar-footer {
    padding: 1.5rem;
    margin: 0 .5rem;
    border-top: solid black 2px;
    background-color: brown;
}

#editor {
    display: flex;
    flex-direction: column;
    background-color: rgb(144, 144, 255);
    margin: auto;
    width: 60%;
    height: 100%;
    outline: none;
    padding: .85rem 1.5rem;
    transition: transform 0.25s ease;
}

#note-title {
    background-color: green;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
}

#note-body {
    flex: 1;
    background-color: grey;

}

