* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
}

#main {
    background-color: bisque;
    flex: 1;
}

#sidebar {
    background-color: aqua;
    width: 260px;
    height: 100vh;
    position: absolute;
    transform: translateX(-260px);
    transition: transform 0.25s ease;
}

#toggle-sidebar {
    background-color: rgb(38, 70, 78);
    color: white;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    transition: transform 0.25s ease;
}

#toggle-sidebar.on {
    transform: translateX(11.5rem);
}

#sidebar.open {
    transform: translateX(0);
}